/* GENERAL SETUP  */
*{
    box-sizing: border-box;
    margin: 0px;

    /* Testing Mode  */
    /* border: 1px dashed orange; */
}
body{
    font-family: 'Open Sans', sans-serif;

    background-color: white;
}

.pager{
    width: 100%;
}
.pager > *{
    max-width: 1200px;
    margin: auto;
}

/* TOP PAGER */
#top-pager{
    height: 75px;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.308);
}
#nav-list{
    display: flex;
}
/* /TOP PAGER */



/* MAIN PAGER */ 
/* Header */
#main-pager > header{
    background-color: #b4d0e7;
}
#hero > div{
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: wrap;
}
#hero img{
    flex: 0 0 60%;
}
#hero div div{
    flex: 0 0 40%;
}
#hero div div *{
    display: block;
}
/* /Header */

/* Main */

#plans{
    display: flex;
    justify-content: space-between;
}
.plan{
    flex: 0 0 30%;

    border: 1px solid gray;
    border-radius: 5px;
}
.plan *:not(hr){
    padding: 0 1em;
}
.plan .target{
    display: block;
    text-align: center;
}
.plan .row span{
    display: inline-block;
}
/* /Main */
/* /MAIN PAGER */



/* BOTTOM PAGER */
#bottom-pager{
    height: 400px;
}
footer{
    background-color: #000000;
    color: white;
}
footer a{
    color: white;
}
/* /BOTTOM PAGER */