/* GENERAL SETUP  */
*{
    box-sizing: border-box;
    margin: 0px;

    /* Testing Mode  */
    /* border: 1px dashed orange; */
}
body{
    font-family: 'Open Sans', sans-serif;

    background-color: #b4d0e7;
}

/* COMMON */
.link-list{
    list-style: none;
    padding-inline-start: 0;
}
.link-list a{
    text-decoration: none;
    color: currentColor;
}

.pager{
    width: 100%;
}
.pager > *{
    max-width: 1200px;
    margin: auto;
}

.narrow{
    max-width: 840px;
    margin: auto;
}
.not-so.narrow{
    max-width: 1000px;
}

/* TOP PAGER */
#top-pager{
    position: fixed;
    z-index: 800;
    top: 0;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.308);
    background-color: white;
}
#top-pager nav{
    height: 50px;
}
#nav-list{
    display: flex;
    justify-content: space-between;
}
#nav-list li{
    height: 50px;
    margin: 0 0.5em;
    display: flex;
    align-items: center;
}
#nav-list .push{
    margin-left: auto;
}
#nav-list img{
    height: 25px;
}
/* /TOP PAGER */



/* MAIN PAGER */ 
/* Header */
#main-pager{
    margin-top: 50px;
}
#hero{
    padding-top: 65px;
}
#hero h1{
    margin-bottom: 1em;
    font-size: 60px;
    font-weight: 800;
}
#hero > div{
    position: relative;
    
    font-weight: 600;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
#hero img{
    position: absolute;

    height: fit-content;
    max-width: 60%;

    left: 40%;
}
#hero div div{
    flex: 0 0 40%;
}
#hero div div > *{
    display: block;
    margin-bottom: 1em;
}
#hero a:last-child{
    margin-top: 1em;
    margin-bottom: 0;

    font-size: 40px;
    font-weight: 800;

    color: black;
    text-decoration: none;
}
/* /Header */

/* Main */
main{
    background-color: white;
}

/* plans */
#plans{
    display: flex;
    justify-content: space-between;
}
.plan{
    flex: 1 0 30%;

    border: 1px solid gray;
    border-radius: 5px;
}
.plan *:not(hr){
    padding: 0 1em;
}
.plan .target{
    display: block;
    text-align: center;
}
.plan .row span{
    display: inline-block;
}

/* features */
#features{
    display: flex;
    flex-wrap: wrap;
}
.feature{
    flex: 0 0 30%;
}

/* brands */
#brands{
    position: relative;

    width: 100%;
    padding-top: 33.3%;
}
.square{
    position: absolute;
    top: 0;
    bottom: 0;

    width: 33.3%;
    padding-top: 33.3%;
}
.square.center{
    left: 33.3%;
}
.square.right{
    left: 66.6%;
}
.brand{
    position:absolute;

    background-color: red;
    border-style: inset;
    border: 1px solid white;
}
.brand.top{
    top: 0;
    bottom: 50%;
}
.brand.bottom{
    top: 50%;
    bottom: 0;
}
.brand.left{
    left: 0;
    right: 50%;
}
.brand.right{
    left: 50%;
    right: 0;
}
#business-inside{
    position: relative;

    width: 100%;
    padding-top: 18%;
}
#business-inside > div{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
/* /Main */
/* /MAIN PAGER */



/* BOTTOM PAGER */
#bottom-pager{
}
footer{
    background-color: #000000;
    color: white;

    border-radius: 0 0 20px 20px;
}
footer a{
    color: white;
}
#bottom-spacer{
    margin-top: 1em;
}
/* /BOTTOM PAGER */