/* GENERAL SETUP  */
*{
    box-sizing: border-box;
    margin: 0px;

    /* Testing Mode  */
    /* border: 1px dashed orange; */
}
body{
    font-family: 'Open Sans', sans-serif;

    background-color: #b4d0e7;
}

/* COMMON */
.link-list{
    list-style: none;
    padding-inline-start: 0;
}
.link-list a{
    text-decoration: none;
    color: currentColor;
}

.pager{
    width: 100%;
}
.pager > *{
    max-width: 1200px;
    margin: auto;
}

.narrow{
    max-width: 700px;
    margin: auto;
}
.not-so.narrow{
    max-width: 1000px;
}

.page-shadow{
    box-shadow: 0 1px 2px black;
}
.text-shadow{
    text-shadow: 0px 15px 20px #6c8091;
}

a{
    color: blue;
}

.button.blue{
    display: block;

    background-color: blue;
    color:white;
    text-decoration: none;
}


/* TOP PAGER */
#top-pager{
    position: fixed;
    z-index: 800;
    top: 0;

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.308);
    background-color: white;
}
#top-pager nav{
    height: 50px;
}
#nav-list{
    display: flex;
    justify-content: space-between;
}
#nav-list li{
    height: 50px;
    margin: 0 0.5em;
    display: flex;
    align-items: center;
}
#nav-list .push{
    margin-left: auto;
}
#nav-list img{
    height: 25px;
}
/* /TOP PAGER */



/* MAIN PAGER */ 
/* Header */
#main-pager{
    margin-top: 50px;
}
#hero{
    padding-top: 65px;
}
#hero h1{
    margin-bottom: 1em;
    font-size: 60px;
    font-weight: 800;
}
#hero > div{
    position: relative;
    
    font-weight: 600;

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
#hero img{
    position: absolute;

    height: fit-content;
    max-width: 60%;

    left: 40%;
}
#hero div div{
    flex: 0 0 40%;
}
#hero div div > *{
    display: block;
    margin-bottom: 1em;
}
#hero a:last-child{
    margin-top: 1em;
    margin-bottom: 0;

    font-size: 40px;
    font-weight: 800;

    color: black;
    text-decoration: none;
}
/* /Header */

/* Main */
main{
    background-color: white;

    padding-top: 5em;
}

/* plans */
#plans-section h2{
    margin-bottom: 1em;
}
#plans-section span:first-of-type{
    margin-right: 1.5em;
}
#plans{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.plan{
    flex: 0 0 30%;

    border: 1px solid gray;
    border-radius: 5px;
}
.plan.wide{
    flex: 1 0 30%;
}
.plan *:not(hr){
    padding: 0 0.5em;
}

.plan .target{
    display: block;
    text-align: center;
}

.plan h4{
    margin: 1em 0;
}

.plan .price{
    display: block;
    margin-bottom: 1em;
}

.plan .row{
    display: flex;
    margin-bottom: 1em;
}
.plan .row:first-of-type{
    margin-top: 2em;
}

.plan .button.blue{
    margin: 2em 0 1em;
}

.plan hr.narrow{
    width: 20%;
    margin: 2em 60% 2em 0.5em;
    border: none;
    border-top: 1px solid gray;
}

.plan .row.blue::before{
    content: ' \2714';
    color: blue;
}

/* partner */
#contact-partner{
    display: flex;
    justify-content: space-between;
}
#contact-partner img{
    flex: 0 0 55%;
    max-width: 50%;
    height: fit-content;
}
#contact-partner > div{
    flex: 0 0 40%;
}

/* features */
#features{
    display: flex;
    flex-wrap: wrap;
}
.feature{
    flex: 0 0 30%;
}
.feature img{
    width: 100%;
}

/* brands */
#brands{
    position: relative;

    width: 100%;
    padding-top: 33.3333333333%;
}
.square{
    position: absolute;
    top: 0;
    bottom: 0;

    width: 33.3333333333%;
    padding-top: 33.3333333333%;
}
.square.center{
    left: 33.3333333333%;
}
.square.right{
    right: 0%;
}
.brand{
    position:absolute;

    display: flex;
    justify-content: center;
    align-items: center;
}
.brand.top{
    top: 0;
    bottom: 50%;
}
.brand.bottom{
    top: 50%;
    bottom: 0;
}
.brand.left{
    left: 0;
    right: 50%;
}
.brand.right{
    left: 50%;
    right: 0;
}
.brand img{
    width: 80%;
    filter: invert(100%);
}
#bd-designit{
    background-color: #a2d39b;
}
#bd-arizona{
    background-color: #61082b;
}
#bd-florida{
    background-color: #0093ce;
}
#bd-topps{
    background-color: #ff1c1c;
}
#bd-relief{
    background-color: #d5001f;
}
#bd-hearst{
    background-color: #b4d0e7;
}
#bd-lonely{
    background-color: #0d2481;
}
#bd-clear{
    background-color: #ffd830;
}

#desc-designit{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #f5f5f5;
}

#business-inside{
    position: relative;

    width: 100%;
    padding-top: 18%;

    background-color: #b4d0e7;
}
#business-inside > div{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#business-inside h2{
    flex: 0 0 50%;
}

/* Q&A */
.dropdown span{
    position: relative;
    display: block;
}
.dropdown span:after{
    position: absolute;
    top: 0;
    right: 1em;
    content: " \02C7";
}
/* /Main */
/* /MAIN PAGER */



/* BOTTOM PAGER */
footer{
    background-color: #000000;
    color: white;

    border-radius: 0 0 20px 20px;
}
footer a{
    color: white;
}
/* Site Map */
#site-map{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#site-map section{
    padding-right: 1em;
    margin-bottom: 1em;
}
#bottom-spacer{
    margin-top: 1em;
}
/* /BOTTOM PAGER */